
# Retail sales
In this notebook we will prepare and store the retail sales dataset found here.

Description of data:

The timeseries is collected between January 1992 and May 2016. It consists of a single series of monthly values representing sales volumes.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from statsmodels.tsa.seasonal import STL

## Get the dataset

In [3]:
url = "https://raw.githubusercontent.com/facebook/prophet/master/examples/example_retail_sales.csv"
df = pd.read_csv(url)
df.to_csv("../datasets/example_retail_sales.csv", index=False)

In [5]:
df = pd.read_csv(
    "../datasets/example_retail_sales.csv",
    parse_dates=["ds"],
    index_col=["ds"],
    nrows=160,
)

In [6]:
df.head()

                 y
ds
1992-01-01  146376
1992-02-01  147079
1992-03-01  159336
1992-04-01  163669
1992-05-01  170068

## Create dataset with missing data

In [7]:
# copy dataframe
df_with_missing_data = df.copy()

# Insert missing data into dataframe
df_with_missing_data.iloc[10:11] = np.NaN
df_with_missing_data.iloc[25:28] = np.NaN
df_with_missing_data.iloc[40:45] = np.NaN
df_with_missing_data.iloc[70:94] = np.NaN

In [8]:
# Save dataset in Datasets directory
df_with_missing_data.to_csv("../datasets/example_retail_sales_with_missing_data.csv")

## Create dataset with outliers

In [9]:
df_with_outliers = df.copy()

In [10]:

# Insert outliers into dataframe
outlier_idx = [20, 33, 66, 150]
df_with_outliers.iloc[outlier_idx] = df_with_outliers.iloc[outlier_idx] * 1.7

In [11]:

# Save dataset in Datasets directory
df_with_outliers.to_csv("../datasets/example_retail_sales_with_outliers.csv")